{% extends 'layouts/master.twig' %}

{# 
    Use the bodyClass block to add an additional class to <body> for this template 
#}
{% block bodyClass 'additional-class' %}

{% block content %}
    <div class="o-container">
        <div class="c-hero c-hero--alt">
            <div class="c-hero__col">
                <h1 class="h1">Ontdek de voordelen<br>van een <span class="u-primary">website</span>.</h2>
                <div class="o-default">
                    <p>Zie hieronder een klein overzicht van wat een nieuwe website voor jou kan betekenen. Wil je meer komen te weten? Neem gerust <a href="#">contact</a> op!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="o-section o-section--small">
        <div class="o-container">
            <div class="c-items">
                {{ include('@snippets/usp.twig', {cols: '3', title: 'Push-notificaties', icon: source('@snippets/svg/usp/responsive.svg'), text: 'Volledig responsive' }) }}
                {{ include('@snippets/usp.twig', {cols: '3', title: 'Push-notificaties', icon: source('@snippets/svg/usp/edit.svg'), text: 'Zelf te beheren' }) }}
                {{ include('@snippets/usp.twig', {cols: '3', title: 'Push-notificaties', icon: source('@snippets/svg/usp/light.svg'), text: 'Eindeloze mogelijkheden' }) }}
                {{ include('@snippets/usp.twig', {cols: '3', title: 'Push-notificaties', icon: source('@snippets/svg/usp/scalable-blue.svg'), text: 'Schaalbaar en flexibel' }) }}
                {{ include('@snippets/usp.twig', {cols: '3', title: 'Push-notificaties', icon: source('@snippets/svg/usp/share.svg'), text: 'Deel jouw projecten' }) }}
                {{ include('@snippets/usp.twig', {cols: '3', title: 'Push-notificaties', icon: source('@snippets/svg/usp/push-notifications.svg'), text: 'Dé manier om je klanten of gebruikers te bereiken.' }) }}
            </div>
        </div>
    </div>

    <div class="o-section u-hidden">
        <div class="o-container">
            <h2>Een website bouwen<br>in <span class="u-secondary">5 stappen</span>.</h2>

            <div class="c-switch js-switch">
                <ul class="c-switch__nav">
                    <li class="c-switch__nav-item">
                        <a href="javascript:;" class="js-switch-trigger is-active" data-switch-target="1">
                            <span class="c-switch__nav-counter">1</span>
                            <span class="c-switch__nav-label">Discover</span>
                        </a>
                    </li>
                    <li class="c-switch__nav-item">
                        <a href="javascript:;" class="js-switch-trigger" data-switch-target="2">
                            <span class="c-switch__nav-counter">2</span>
                            <span class="c-switch__nav-label">Define</span>
                        </a>
                    </li>
                    <li class="c-switch__nav-item">
                        <a href="javascript:;" class="js-switch-trigger" data-switch-target="3">
                            <span class="c-switch__nav-counter">3</span>
                            <span class="c-switch__nav-label">Design</span>
                        </a>
                    </li>
                    <li class="c-switch__nav-item">
                        <a href="javascript:;" class="js-switch-trigger" data-switch-target="4">
                            <span class="c-switch__nav-counter">4</span>
                            <span class="c-switch__nav-label">Develop</span>
                        </a>
                    </li>
                    <li class="c-switch__nav-item">
                        <a href="javascript:;" class="js-switch-trigger" data-switch-target="5">
                            <span class="c-switch__nav-counter">5</span>
                            <span class="c-switch__nav-label">Deliver</span>
                        </a>
                    </li>
                </ul>

                <div class="c-switch__content">
                    <div class="js-switch-item" data-switch-element="1">
                        <h2 class="c-switch__title js-switch-item-title">De discover fase</h2>
                        <div class="js-switch-item-content">
                            <p>Ontmoeting, leren kennen, Wensen verzamelen, Wie wat waarom, doelgroep, onderzoek. Dit doen we samen.</p>
                            <a href="#" class="c-link-btn c-link-btn--alt">Start jouw project<span>&nbsp;{{ source('@snippets/svg/_arrow.svg') }}</span></a>
                        </div>
                        <div class="c-switch__media js-switch-item-media">{{ source('@snippets/svg/steps/discover.svg') }}</div>
                    </div>
                    <div class="js-switch-item" data-switch-element="2">
                        <h2 class="c-switch__title js-switch-item-title">De define fase</h2>
                        <div class="js-switch-item-content">
                            <p>Plan maken obv wensen. Opmaken in presentatie, daarmee eens? Door, anders feedback. Elkaar goed begrijpen.</p>
                            <a href="#" class="c-link-btn c-link-btn--alt">Start jouw project<span>&nbsp;{{ source('@snippets/svg/_arrow.svg') }}</span></a>
                        </div>
                        <div class="c-switch__media js-switch-item-media">{{ source('@snippets/svg/steps/define.svg') }}</div>
                    </div>
                    <div class="js-switch-item" data-switch-element="3">
                        <h2 class="c-switch__title js-switch-item-title">De design fase</h2>
                        <div class="js-switch-item-content">
                            <p>Plan omzetten in ontwerp. Presentatie en feedback momenten.</p>
                            <a href="#" class="c-link-btn c-link-btn--alt">Start jouw project<span>&nbsp;{{ source('@snippets/svg/_arrow.svg') }}</span></a>
                        </div>
                        <div class="c-switch__media js-switch-item-media">{{ source('@snippets/svg/steps/design.svg') }}</div>
                    </div>
                    <div class="js-switch-item" data-switch-element="4">
                        <h2 class="c-switch__title js-switch-item-title">De develop fase</h2>
                        <div class="js-switch-item-content">
                            <p>Realiseren van ontwerp. Presentatie en feedback.</p>
                            <a href="#" class="c-link-btn c-link-btn--alt">Start jouw project<span>&nbsp;{{ source('@snippets/svg/_arrow.svg') }}</span></a>
                        </div>
                        <div class="c-switch__media js-switch-item-media">{{ source('@snippets/svg/steps/develop.svg') }}</div>
                    </div>
                    <div class="js-switch-item" data-switch-element="5">
                        <h2 class="c-switch__title js-switch-item-title">De deliver fase</h2>
                        <div class="js-switch-item-content">
                            <p>Klant krijgt tijd om content te vullen en te oriënteren op de demo. Opleveren project. Livegang.</p>
                            <a href="#" class="c-link-btn c-link-btn--alt">Start jouw project<span>&nbsp;{{ source('@snippets/svg/_arrow.svg') }}</span></a>
                        </div>
                        <div class="c-switch__media js-switch-item-media">{{ source('@snippets/svg/steps/deliver.svg') }}</div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    {% include '@snippets/faq.twig' %}

{% endblock %}