{% extends 'layouts/master.twig' %}

{# 
    Use the bodyClass block to add an additional class to <body> for this template 
#}
{% block bodyClass 'white bg-blue' %}
{% block ogTitle %}Aian – Ik wil een app{% endblock %}
{% block title %}Aian – Ik wil een app{% endblock %}

{% block content %}
<div class="u-hidden">
    <span class="bg"></span>
    <div class="o-container">
        <div class="c-hero c-hero--alt">
            <div class="c-hero__col">
                <h1 class="h1">Ontdek de voordelen<br>van een <span class="u-primary">app</span>.</h2>
                <div class="o-default u-read">
                    <p>Zie hieronder een klein overzicht van wat een app voor jou kan betekenen. Wil je meer komen te weten? Neem gerust <a href="/contact">contact</a> op!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="o-section o-section--small u-relative">
        <span class="c-blob"></span>
        <div class="o-container">
            <div class="c-items">
                {{ include('@snippets/usp.twig', {cols: '3', title: 'Push-notificaties', icon: source('@snippets/svg/usp/push-notifications.svg'), text: 'Dé manier om je klanten of gebruikers te bereiken.' }) }}
                {{ include('@snippets/usp.twig', {cols: '3', title: 'Altijd up-to-date', icon: source('@snippets/svg/usp/update.svg'), text: 'Pas jij je website aan? Dan update dit automatisch binnen jouw app.' }) }}
                {{ include('@snippets/usp.twig', {cols: '3', title: 'Cross-platform', icon: source('@snippets/svg/usp/platform.svg'), text: 'Geschikt voor zowel Android als iOS. Zo kun je iedereen bereiken.' }) }}
                {{ include('@snippets/usp.twig', {cols: '3', title: 'Schaalbaar en flexibel', icon: source('@snippets/svg/usp/scalable.svg'), text: 'Altijd mogelijk om je app te upgraden naar Multi Platform of Maatwerk.' }) }}
                {{ include('@snippets/usp.twig', {cols: '3', title: 'Klantenbinding', icon: source('@snippets/svg/usp/heart.svg'), text: 'Speel in op de behoeften van klanten en krijg er loyaliteit voor terug.' }) }}
                {{ include('@snippets/usp.twig', {cols: '3', title: 'No cure no pay', icon: source('@snippets/svg/usp/shield.svg'), text: 'Kunnen zélfs wij het niet fiksen? Dan betaal je niets!' }) }}
            </div>
        </div>
    </div>
    
    
    <div class="o-section o-section--small u-relative">
        <div class="o-container">
            <h2>Welke past het beste<br>bij jou?</h2>
            
            <div class="c-packs">
                <div class="c-pack">
                    <div class="c-pack__inner">
                        <h3 class="c-pack__title">Single Platform</h3>
                        <ul class="c-pack__list">
                            <li class="c-pack__item">{{ source('@snippets/svg/_check.svg') }}Jouw website in een app</li>
                            <li class="c-pack__item">{{ source('@snippets/svg/_check.svg') }}Voor Android <strong>óf</strong> iOS</li>
                            <li class="c-pack__item">{{ source('@snippets/svg/_check.svg') }}Push-notificaties</li>
                            <li class="c-pack__item">{{ source('@snippets/svg/_check.svg') }}Altijd up-to-date</li>
                            <li class="c-pack__item">{{ source('@snippets/svg/_check.svg') }}Custom splash screen en icon</li>
                            <li class="c-pack__item">{{ source('@snippets/svg/_check.svg') }}No cure no pay garantie</li>
                        </ul>
                        <span class="c-pack__price u-center">€699,-</span>
                        <a href="mailto:hello@aian.digital?subject=Ik ben geïnteresseerd in het Single Platform pakket" class="c-btn c-btn--primary">Kies pakket</a>
                    </div>    
                </div>
                <div class="c-pack">
                    <div class="c-pack__inner">
                        <h3 class="c-pack__title">Multi Platform</h3>
                        <ul class="c-pack__list">
                            <li class="c-pack__item">{{ source('@snippets/svg/_check.svg') }}Jouw website in een app</li>
                            <li class="c-pack__item">{{ source('@snippets/svg/_check.svg') }}Voor Android <strong>en</strong> iOS</li>
                            <li class="c-pack__item">{{ source('@snippets/svg/_check.svg') }}Push-notificaties</li>
                            <li class="c-pack__item">{{ source('@snippets/svg/_check.svg') }}Altijd up-to-date</li>
                            <li class="c-pack__item">{{ source('@snippets/svg/_check.svg') }}Custom splash screen en icon</li>
                            <li class="c-pack__item">{{ source('@snippets/svg/_check.svg') }}No cure no pay garantie</li>
                        </ul>
                        <span class="c-pack__price u-center">€1199,-</span>
                        <a href="mailto:hello@aian.digital?subject=Ik ben geïnteresseerd in het Multi Platform pakket" class="c-btn c-btn--primary">Kies pakket</a>
                    </div>    
                </div>
                <div class="c-pack">
                    <div class="c-pack__inner c-pack__inner--alt">
                        <h3 class="c-pack__title">Maatwerk</h3>
                        <div class="c-pack__list">
                            <p>Een volledig maatwerk app laten bouwen? Dan ben je bij ons aan het juiste adres!</p>
                            <p>Wij onderzoeken graag samen met jou wat de mogelijkheden zijn. Geheel vrijblijvend natuurlijk!</p>
                        </div>
                        <a href="/contact" class="c-btn c-btn--secondary">Neem contact op</a>
                    </div>    
                </div>
            </div>

        </div>
    </div>

    <div class="o-section u-hidden">
        <div class="o-container">
            <h2>Jouw app live<br>in <span class="u-primary">3 stappen</span>.</h2>

            <div class="c-switch js-switch">
                <ul class="c-switch__nav">
                    <li class="c-switch__nav-item">
                        <a href="javascript:;" class="js-switch-trigger is-active" data-switch-target="1">
                            <span class="c-switch__nav-counter c-switch__nav-counter--alt">1</span>
                            <span class="c-switch__nav-label">Pakket keuze</span>
                        </a>
                    </li>
                    <li class="c-switch__nav-item">
                        <a href="javascript:;" class="js-switch-trigger" data-switch-target="2">
                            <span class="c-switch__nav-counter c-switch__nav-counter--alt">2</span>
                            <span class="c-switch__nav-label">Validatie</span>
                        </a>
                    </li>
                    <li class="c-switch__nav-item">
                        <a href="javascript:;" class="js-switch-trigger" data-switch-target="3">
                            <span class="c-switch__nav-counter c-switch__nav-counter--alt">3</span>
                            <span class="c-switch__nav-label">Uploaden</span>
                        </a>
                    </li>
                </ul>

                <div class="c-switch__content">
                    <div class="js-switch-item" data-switch-element="1">
                        <h2 class="c-switch__title js-switch-item-title">Pakket keuze</h2>
                        <div class="js-switch-item-content">
                            <p>Eerst moeten we vaststellen welk pakket het beste bij jou past. Wil je een app voor iOS, Android of toch liever maatwerk?</p>
                            <a href="/contact" class="c-link-btn">Start jouw project<span>&nbsp;{{ source('@snippets/svg/_arrow.svg') }}</span></a>
                        </div>
                        <div class="c-switch__media c-switch__media--alt js-switch-item-media">{{ source('@snippets/svg/steps/app-1.svg') }}</div>
                    </div>
                    <div class="js-switch-item" data-switch-element="2">
                        <h2 class="c-switch__title js-switch-item-title">Validatie</h2>
                        <div class="js-switch-item-content">
                            <p>Om jouw app in de App Store en Google Play store te krijgen moet deze aan een aantal eisen voldoen. Deze zullen wij zorgvuldig checken.</p>
                            <a href="/contact" class="c-link-btn">Start jouw project<span>&nbsp;{{ source('@snippets/svg/_arrow.svg') }}</span></a>
                        </div>
                        <div class="c-switch__media c-switch__media--alt js-switch-item-media">{{ source('@snippets/svg/steps/app-2.svg') }}</div>
                    </div>
                    <div class="js-switch-item" data-switch-element="3">
                        <h2 class="c-switch__title js-switch-item-title">Uploaden</h2>
                        <div class="js-switch-item-content">
                            <p>De laatste stap is het uploaden naar de app stores. Mochten deze de app toch niet accepteren, dan betaal jij helemaal niets!</p>
                            <a href="/contact" class="c-link-btn">Start jouw project<span>&nbsp;{{ source('@snippets/svg/_arrow.svg') }}</span></a>
                        </div>
                        <div class="c-switch__media c-switch__media--alt js-switch-item-media">{{ source('@snippets/svg/steps/app-3.svg') }}</div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="o-section">
        <div class="o-container">
            <h2 class="u-center h1">Veelgestelde vragen</h2>
            <div class="c-faq">
                <div class="c-faq__item js-faq">
                    <span class="c-faq__trigger js-faq-trigger">
                        Hoelang duurt het voordat mijn app live staat?
                        {{ source('@snippets/svg/_toggle.svg') }}
                    </span>
                    <div class="c-faq__content js-faq-content">
                        <div class="o-default">
                            <p>Dit verschilt per platform. Bij Apple duurt dit meestal 2 tot 5 werkdagen en bij Google 5 tot 10 werkdagen. Mocht het voorkomen dat dit wat langer duurt, dan laten we het je uiteraard weten.</p>
                        </div>
                    </div>
                </div>    
                <div class="c-faq__item js-faq">
                    <span class="c-faq__trigger js-faq-trigger">
                        Push notificaties versturen, hoe werkt dat precies?
                        {{ source('@snippets/svg/_toggle.svg') }}
                    </span>
                    <div class="c-faq__content js-faq-content">
                        <div class="o-default">
                            <p>Via een duidelijke interface kun je op elk moment een bericht sturen naar gebruikers die je app hebben geïnstalleerd. Zo kun jij je gebruikers up-to-date houden.</p>
                        </div>
                    </div>
                </div>    
                <div class="c-faq__item js-faq">
                    <span class="c-faq__trigger js-faq-trigger">
                        Wat zijn de kosten van een maatwerk applicatie?
                        {{ source('@snippets/svg/_toggle.svg') }}
                    </span>
                    <div class="c-faq__content js-faq-content">
                        <div class="o-default">
                            <p>De kosten voor een maatwerk applicatie kunnen erg variëren. Neem gerust <a href="/contact">contact</a> op om de mogelijkheden te bespreken.</p>
                        </div>
                    </div>
                </div>    
                <div class="c-faq__item js-faq">
                    <span class="c-faq__trigger js-faq-trigger">
                        Hoe zorg ik ervoor dat mijn app up-to-date blijft?
                        {{ source('@snippets/svg/_toggle.svg') }}
                    </span>
                    <div class="c-faq__content js-faq-content">
                        <div class="o-default">
                            <p>Als we jouw website omtoveren tot een app, hoef je alleen de website te onderhouden. Wij zorgen ervoor dat jouw app altijd up-to-date blijft met je website. Bij een maatwerk app kunnen we hier duidelijke afspraken in maken.</p>
                        </div>
                    </div>
                </div>    
                <div class="c-faq__item js-faq">
                    <span class="c-faq__trigger js-faq-trigger">
                        Ik wil mijn app aanpassen, kunnen jullie mij daarbij helpen?
                        {{ source('@snippets/svg/_toggle.svg') }}
                    </span>
                    <div class="c-faq__content js-faq-content">
                        <div class="o-default">
                            <p>Hier kunnen wij zeer waarschijnlijk bij helpen. Neem gerust <a href="/contact">contact</a> op om de mogelijkheden te bespreken.</p>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>
{% endblock %}